# git
.git
.gitignore
.editorconfig
README.md
# node
node_modules
npm-debug.log
# docker
*Dockerfile*
*docker-compose*
.dockerignore
# Exclude locally vendored dependencies.
vendor/
# misc
Makefile
*example*